.container {
    display: flex;
    background-color: #6278f7;
    align-items: center;
    justify-content:space-around;
    background-position: top;
    background-size: cover;
    padding: 50px; 
    height: 30px;
    color: #fff; 
}

.social-links {
    display:flex;
    margin: 20px;
}

.social-links img {
    width: 24px;
    padding:0 20px;
}

.logo {
    margin: 20px;
}

.logo img {
    width: 10rem;
}

.texto {
    font-size: 20px;
    margin: 20px;
    font-weight: medium;
}


